@charset "utf-8";

/****************************************/ 
/* Name: contents.css
/* Version: 2020.09
/* Author: jo ju young 💛
/* Description: jo ju young portfolio
/****************************************/

/* //mark: 공통 */
/* 섹션 전체 배경 그리드 */
section{
    max-width: 2000px;
    background-image: url(/img/noise_bg.png);
}
section::before,
section::after{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
}
section::before{
    left: 23vw;
}
section::after{
    right: 23vw;
}
/* 풀페이지 오른쪽 도트 네비게이션 */
#fp-nav{
    display: none;
}
/* 주영월드 title bar */
.title-box{
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 15%;
    z-index: 99;
}
.title-box::before{
    content: '';
    display: block;
    margin-right: 6vw;
    width: 7px;
    height: 45px;
    background-color: #fff;
}
.title-name,
.scroll-text{
    font-family: 'Rubik',sans-serif;
    font-weight: 500;
}
/* 섹션 페이지 큰 타이틀 */
.section-tit{
    position: absolute;
    top: 1vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    font-weight: 500;
    font-size: 27px;
    text-align: center;
    letter-spacing: -1px;
}
/* 오른쪽 스크롤다운 텍스트 */
.scroll-text{
    position: fixed;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 13px;
    color: #fff;
    transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    animation: blink 7s ease-in-out infinite;
    -webkit-animation: blink 7s ease-in-out infinite;
}
@keyframes blink{
    0% {opacity: 1;}
    20% {opacity: 0;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    80% {opacity: 1;}
    100% {topacity: 0;}
}
@-webkit-keyframes blink{
    0% {opacity: 1;}
    20% {opacity: 0;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    80% {opacity: 1;}
    100% { topacity: 0; }
}
/* //mark: main section */
.main{
    position: relative;
}
.main p{
    position: absolute;
    z-index: 99;
    font-size: 19px;
    line-height: 1.3;
}
.main-txt{
    top: 50%;
    left: 6vw;
}
.main-txt02{
    top: 10%;
    right: 12vw;
}
.main-txt03{
    bottom: 22%;
    right: 15vw;
}
/* circle 비주얼메인 */
.circle-wrap{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.circle-bg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 77;
    width: 49vw;
    height: 49vw;
    background-image: url(../img/circle_bg.png), url(../img/circle_imog.png);
    background-size: 100%, 40%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}
.circle-tit{
    position: relative;/*circle-tit li 기준점*/
    z-index: 99;
    width: 49vw;
    height: 49vw;
    font-size: 4.1vw;
    animation: circletit 30s linear infinite;
    -webkit-animation: circletit 30s linear infinite;
}
@keyframes circletit{
    100% {transform: rotate(360deg);}
}
@-webkit-keyframes circletit{
    100% {transform: rotate(360deg);}
}
.circle-tit li{
    position: absolute;
    font-family: 'Montserratcall',sans-serif;
    font-weight: 500;
    font-size: 2em;
    color: #333;
}
.circle-tit .tit{
    transform: rotate(5.73rad);
    top: 0.65em; 
    left: 1.29em;
}
.circle-tit .tit02{
    top: 0.325em;
    left: 2.675em;
}
.circle-tit .tit03{
    transform: rotate(6.75rad);
    top: 0.559em;
    right: 1.619em;
}
.circle-tit .tit04{
    font-size: 3em;
    top: 0.47em;
    right: 0.69em;
}    
.circle-tit .tit05{
    transform: rotate(13.8rad);
    top: 1.847em; 
    right: 0.54em;
}
.circle-tit .tit06{
    transform: rotate(14.27rad);
    top: 2.847em;
    right: 0.425em;
}
.circle-tit .tit07{
    transform: rotate(14.78rad);
    bottom: 1.12em;
    right: 0.85em;
}
.circle-tit .tit08{
    transform: rotate(15.22rad);
    bottom: 0.45em;
    right: 1.68em;
}
.circle-tit .tit09{
    transform: rotate(12.46rad);
    bottom: 0.22em;
    left: 3.07em;
}
.circle-tit .tit10{
    transform: rotate(12.8rad);
    bottom: 0.3em;
    left: 2.04em;
}
.circle-tit .tit11{
    transform: rotate(13.36rad);
    bottom: 0.866em;
    left: 1.029em;
}
.circle-tit .tit12{
    transform: rotate(4.43rad);
    top: 3.17em;
    left: 0.55em;
}
.circle-tit .tit13{
    transform: rotate(4.9rad);
    top: 2.15em;
    left: 0.48em;
}
.circle-tit .tit14{
    font-size: 3em;
    top: 0.64em;
    left: 0.64em;
}
/* //mark: about section */
.about-txt{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/img/about_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 56%;
}
.about-txt p:first-child::before{
    content: '';
    display: block;
    width: 4vw;
    height: 4vw;
    margin: 0 auto;
    background-image: url(/img/icon_about.png);
    background-repeat: no-repeat;
    background-size: 100%;
    animation: aboutswing 2s infinite;
    -webkit-animation: aboutswing 2s infinite;
}
@keyframes aboutswing{
    0% {transform: rotate(0deg);}
    20% {transform: rotate(13deg);}
    24% {transform: rotate(-13deg);}
    28% {transform: rotate(13deg);}
    32% {transform: rotate(-13deg);}
    36% {transform: rotate(0deg);}
}
@-webkit-keyframes aboutswing{
    0% {transform: rotate(0deg);}
    20% {transform: rotate(13deg);}
    24% {transform: rotate(-13deg);}
    28% {transform: rotate(13deg);}
    32% {transform: rotate(-13deg);}
    36% {transform: rotate(0deg);}
}
.about-txt p{
    position: relative;
    z-index: 99;
    text-align: center;
    font-size: 4.5vw;
    font-weight: 700;
    line-height: 1.2;
    color: #333;
}
.about-txt .txt-mark{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -1px;
}
/* //mark: skill section */
.skill{
    background-image: url(/img/skill.png);
}

/* //mark: project section */
.swiper-container{
    width: 94vw;
    height: 89vh;
    background-color: #fff;
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(../img/noise_bg.png);
}
.img-box{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}
.img-box a{
    display: block;
    width: 35vw;
    height: 35vw;
}
.img-box a img{
    width: 100%;
    -webkit-transition: -webkit-transform ease .5s;
    transition: -webkit-transform ease .5s;
    transition: transform ease .5s;
}
.img-box:hover a img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.txt-box{
    width: 50%;
    padding-left: 7.5vw;
    box-sizing: border-box;
    line-height: 1.35;
}
.txt-box p{
    text-align: left;
    color: #333;
}
.txt-box .project-tit{
    margin-bottom: 15px;
    font-weight: 900;
    font-style: italic;
}
.txt-box .project-txt{
    font-size: 56px;
}
.txt-box .project-link{
    position: relative;
    display: block;
    width: auto;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    font-size: 56px;
}
.txt-box .project-link::after{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 10px;
    width: 0;
    height: 15px;
    background-color: #333;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
}
.txt-box:hover .project-link::after{
    width: 38%;
    height: 15px;
    transition:width 0.5s; 
    -webkit-transition:width 0.5s; 
    -ms-transition:width 0.5s;
}
.hyundai .txt-box:hover .project-link::after{
    width: 50%;
    height: 15px;
    transition:width 0.5s; 
    -webkit-transition:width 0.5s; 
    -ms-transition:width 0.5s;
}
.txt-box .project-link > .link-border{
    position: relative; /*tit::after보다 위로 올릴려고 줌*/
    z-index: 99;
    display: block;
    width: auto;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}
.stayjungle .txt-box .project-link{
    color: #ffa141;
}
.hyundai .txt-box .project-link{
    color: #5490d8;
}
.hanssem .txt-box .project-link{
    color: #e14e5e;
}
.txt-box .project-skill{
    margin-top: 20px;
    font-weight: 500;
}
/* 스와이퍼 버튼 */
.swiper-button-next{
    right: 40px !important;
}
.swiper-button-prev{
    left: 40px !important;
}
/* 스와이퍼 페이지 숫자뷰 */
.swiper-pagination{
    text-align: right !important;
    right: 17.5% !important;
    bottom: 24% !important;
    color: #333 !important;
}
.swiper-pagination-current{
    font-size: 40px !important;
}
.swiper-pagination-current,
.swiper-pagination-total{
    color: #333 !important;
    font-weight: 700 !important;
    font-family: 'Rubik','NotoKr',sans-serif !important;
}
/* //mark: contact section */
.contact-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 99;
}
.contact-txt p{
    text-align: center;
    overflow: hidden;
    font-family: 'Montserratcall', sans-serif;
    font-weight: bold;
    font-size: 8.35vw;
    line-height: 1.3;
    color: #333;
}
.contact-txt p:first-child{
    font-size: 8.65vw;
}
.contact-txt .txt-mail,
.contact-txt .txt-number{
    font-family: 'Montserratcall', sans-serif;
    background: transparent;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #333;
}
.contact-txt .txt-mail:hover,
.contact-txt .txt-number:hover{
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-color: #fff;
    color: #fff;
}
.copyright::before{
    content: '❤️';
    display: inline-table;
    width: 20px;
    height: 20px;
    vertical-align: baseline;
    margin-right: 0.8vw;
    animation: heartbeat 2s infinite;
    -webkit-animation: heartbeat 2s infinite;
}
.copyright{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    font-weight: 700;
    font-size: 18px;
}
@keyframes heartbeat{
    0% {transform: scale(.9);}
    20% {transform: scale(1.2);}
    40% {transform: scale(.9);}
    60% {transform: scale(1.2);}
    80% {transform: scale(.9);}
    100% {transform: scale(.9);}
}
/*❣️❤️🧡💛💚💜💙🖤💖 🧡💛💚💙💜🖤🤍🤎✌🏻*/