@charset "utf-8";

/****************************************/ 
/* Name: contents.css
/* Version: 2020.09
/* Author: jo ju young 💛
/* Description: jo ju young portfolio
/****************************************/

/* 섹션 그리드 테두리 */
section::before{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    left: 23vw;
    top: 0;
}
.section::after{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    left: 77vw;
    top: 0;
}