@charset "utf-8";

/****************************************/ 
/* Name: contents.css
/* Version: 2020.09
/* Author: jo ju young 💛
/* Description: jo ju young portfolio
/****************************************/

/* //mark: 공통 */
.hide{
    display: none;
}
/* 섹션 전체 배경 그리드 */
section{
    max-width: 2000px;
    background-image: url(/img/noise_bg.png);
}
section::before,
section::after{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
}
section::before{
    left: 23vw;
}
section::after{
    right: 23vw;
}
/* 풀페이지 오른쪽 도트 네비게이션 */
#fp-nav{
    display: none;
}
/* 주영월드 title bar */
.title-box{
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 15%;
    z-index: 99;
}
.title-box::before{
    content: '';
    display: block;
    margin-right: 6vw;
    width: 7px;
    height: 45px;
    background-color: #fff;
}
.title-box h1,
.scroll-text{
    font-family: 'Rubik',sans-serif;
    font-weight: 500;
    color: #fff;
}
/* 오른쪽 스크롤다운 텍스트 */
.scroll-text{
    position: fixed;
    z-index: 77;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 13px;
    transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    /* animation: blink 7s ease-in-out infinite;
    -webkit-animation: blink 7s ease-in-out infinite; */
}
@keyframes blink{
    0% {opacity: 1;}
    20% {opacity: 0;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    80% {opacity: 1;}
    100% {topacity: 0;}
}
@-webkit-keyframes blink{
    0% {opacity: 1;}
    20% {opacity: 0;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    80% {opacity: 1;}
    100% { topacity: 0; }
}
.smile-ani{
    position: fixed;
    display: block;
    width: 180px;
    height: 180px;
    right: -3vw;
    bottom: -3vw;
    z-index: 99;
    animation: smileani 10s linear infinite;
    -webkit-animation: smileani 10s linear infinite;;
 }
@keyframes smileani{
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}
.smile-ani img{
    width: 100%;
    height: 100%;
}
/* 섹션 페이지 큰 타이틀 */
.section-tit{
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    font-weight: 500;
    font-size: 28px;
    text-align: center;
    letter-spacing: -1px;
    color: #fff;
    /* font-family: 'SctoGroteskA',sans-serif; */
}
.section-tit i{
    color: #fff;
}
/* //mark: main section */
.main{
    position: relative;
}
.main p{
    position: absolute;
    z-index: 99;
    font-size: 19px;
    line-height: 1.3;
    color: #fff;
}
.main-txt{
    top: 50%;
    left: 6vw;
}
.main-txt02{
    top: 10%;
    right: 12vw;
}
.main-txt02 i{
    color: #fff;
}
.main-txt03{
    bottom: 22%;
    right: 15vw;
}
/* circle 비주얼메인 */
.circle-wrap{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.circle-bg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    width: 49vw;
    height: 49vw;
    background-image: url(../img/circle_bg.png), url(../img/circle_imog.png);
    background-size: 100%, 40%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}
.circle-tit{
    position: relative;/*circle-tit li 기준점*/
    z-index: 99;
    width: 49vw;
    height: 49vw;
    font-size: 4.1vw;
    animation: circletit 30s linear infinite;
    -webkit-animation: circletit 30s linear infinite;
}
@keyframes circletit{
    100% {transform: rotate(360deg);}
}
@-webkit-keyframes circletit{
    100% {transform: rotate(360deg);}
}
.circle-tit li{
    position: absolute;
    font-family: 'Montserratcall',sans-serif;
    font-weight: 500;
    font-size: 2em;
}
.circle-tit .tit{
    transform: rotate(5.73rad);
    top: 0.65em; 
    left: 1.29em;
}
.circle-tit .tit02{
    top: 0.325em;
    left: 2.675em;
}
.circle-tit .tit03{
    transform: rotate(6.75rad);
    top: 0.559em;
    right: 1.619em;
}
.circle-tit .tit04{
    font-size: 3em;
    top: 0.47em;
    right: 0.69em;
}    
.circle-tit .tit05{
    transform: rotate(13.8rad);
    top: 1.847em; 
    right: 0.54em;
}
.circle-tit .tit06{
    transform: rotate(14.27rad);
    top: 2.847em;
    right: 0.425em;
}
.circle-tit .tit07{
    transform: rotate(14.78rad);
    bottom: 1.12em;
    right: 0.85em;
}
.circle-tit .tit08{
    transform: rotate(15.22rad);
    bottom: 0.45em;
    right: 1.68em;
}
.circle-tit .tit09{
    transform: rotate(12.46rad);
    bottom: 0.22em;
    left: 3.07em;
}
.circle-tit .tit10{
    transform: rotate(12.8rad);
    bottom: 0.3em;
    left: 2.04em;
}
.circle-tit .tit11{
    transform: rotate(13.36rad);
    bottom: 0.866em;
    left: 1.029em;
}
.circle-tit .tit12{
    transform: rotate(4.43rad);
    top: 3.17em;
    left: 0.55em;
}
.circle-tit .tit13{
    transform: rotate(4.9rad);
    top: 2.15em;
    left: 0.48em;
}
.circle-tit .tit14{
    font-size: 3em;
    top: 0.64em;
    left: 0.64em;
}
/* //mark: about section */
.about-txt{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/about_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 56%;
}
.about-txt p:first-child::before{
    content: '';
    display: block;
    width: 4vw;
    height: 4vw;
    margin: 0 auto;
    background-image: url(../img/icon_about.png);
    background-repeat: no-repeat;
    background-size: 100%;
    animation: aboutswing 2s infinite;
    -webkit-animation: aboutswing 2s infinite;
}
@keyframes aboutswing{
    0% {transform: rotate(0deg);}
    20% {transform: rotate(13deg);}
    24% {transform: rotate(-13deg);}
    28% {transform: rotate(13deg);}
    32% {transform: rotate(-13deg);}
    36% {transform: rotate(0deg);}
}
@-webkit-keyframes aboutswing{
    0% {transform: rotate(0deg);}
    20% {transform: rotate(13deg);}
    24% {transform: rotate(-13deg);}
    28% {transform: rotate(13deg);}
    32% {transform: rotate(-13deg);}
    36% {transform: rotate(0deg);}
}
.about-txt p{
    position: relative;
    z-index: 99;
    text-align: center;
    font-size: 4.5vw;
    font-weight: 700;
    line-height: 1.2;
}
/* //mark: skill section */
.skill-txt{
    position: relative;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75%;
}
.skill-txt-top{
    font-size: 4.5vw;
    text-align: right;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -5px;
    color: #333;
}
.skill-txt-bottom{
    font-size: 4.5vw;
    text-align: left;
    font-weight: 700;
    line-height: 1.2;
    color: #333;
}
.skill-txt-bottom > p{
    margin-top: 1vw;
    font-size: 4vw;
}
/* .skill-txt-right{
    display: flex;
    justify-content: space-between;
}
.skill-txt-right dl{
    margin-bottom: 20px;
}
.skill-txt-right dt::before{
    content: '🖤';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color:;
    margin-right: 25px;
}
.skill-txt-right dt{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 5px;
}
.skill-txt-right dd{
    font-size: 20px;
    line-height: 1.3;
} */
/* //mark: project section */
.swiper-container{
    width: 98vw;
    height: 98vh;
}
.swiper-slide{
    background-size: cover;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide.stayjungle{
    background-image: url(../img/project_stayjungle_bg.jpg);
    background-position: center;
}
.swiper-slide.hyundai{
    background-image: url(../img/project_hyundai_bg03.jpg);
    background-position: top;
}
.swiper-slide.hanssem{
    background-image: url(../img/project_hanssem_bg.png);
    background-position: center;
}
.swiper-txt{
    padding: 2vw;
    line-height: 1.35;
    background-color: rgba(0,0,0,0.2);
}
.swiper-txt p{
    color: #fff;
    text-align: left;
}
.swiper-txt .tit{
    margin-bottom: 15px;
    font-weight: 900;
    font-style: italic;
}
.swiper-txt .info{
    font-size: 3vw; /* font-size: 56px; */
}
.swiper-txt .link{
    font-size: 3vw; /* font-size: 56px; */
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}
.swiper-txt .link .link-tit {
    position:relative;
    display: inline-block;
}
.swiper-txt .link .link-tit::before{
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 0;
    height: 10px;
    background-color: #fff;;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
}
.swiper-txt:hover .link .link-tit::before{
    width: 100%;
    transition:width 0.5s; 
    -webkit-transition:width 0.5s; 
    -ms-transition:width 0.5s;
}
.swiper-txt .txt{
    margin-top: 20px;
    font-weight: 500;
}
/* 스와이퍼 버튼 */
.swiper-button-next{
    z-index: 99;
    right: 40px !important;
    cursor: url(../img/cursor-hand.png),auto !important;
}
.swiper-button-prev{
    z-index: 99;
    left: 40px !important;
    cursor: url(../img/cursor-hand.png),auto !important;
}
/* 스와이퍼 페이지 숫자뷰 */
.swiper-pagination{
    z-index: 999 !important;
    left: 20% !important;
    bottom: 30% !important;
    color: #fff !important;
}
.swiper-pagination-current{
    font-size: 45px !important;
}
.swiper-pagination-current,
.swiper-pagination-total{
    color: #fff !important;
    font-weight: 700 !important;
    font-family: 'Rubik','NotoKr',sans-serif !important;
}
/* //mark: contact section */
.contact-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 99;
}
.contact-txt p{
    position: relative;
    z-index: 99;
    text-align: center;
    overflow: hidden;
    font-family: 'Montserratcall', sans-serif;
    font-weight: bold;
    font-size: 8.35vw;
    line-height: 1.3;
}
.contact-txt p:first-child{
    font-size: 8.65vw;
}
.contact-txt .txt-mail,
.contact-txt .txt-number{
    font-family: 'Montserratcall', sans-serif;
    background: transparent;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #252422;
}
.contact-txt .txt-mail:hover,
.contact-txt .txt-number:hover{
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-color: #fff;
    color: #fff;
}
.copyright::before{
    content: '❤️';
    display: inline-table;
    width: 20px;
    height: 20px;
    vertical-align: baseline;
    margin-right: 0.8vw;
    animation: heartbeat 2s infinite;
    -webkit-animation: heartbeat 2s infinite;
}
.copyright{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 18px;
    color: #000;
}
@keyframes heartbeat{
    0% {transform: scale(.9);}
    20% {transform: scale(1.2);}
    40% {transform: scale(.9);}
    60% {transform: scale(1.2);}
    80% {transform: scale(.9);}
    100% {transform: scale(.9);}
}
/*❣️❤️🧡💛💚💜💙🖤💖 🧡💛💚💙💜🖤🤍🤎✌🏻*/

/*가로값이 768px이상 1023px이하 일 때 스타일 적용! 1024px이상은 기본 css적용 */
@media all and (max-width:1023px){
    .smile-ani{width: 160px;height: 160px;right: -5vw;bottom: -5vw;}
    .scroll-text{right: -15px;}
    .main p{font-size: 17px;}
    .circle-bg{width: 53vw;height: 53vw;background-size: 100%, 40%;}
    .circle-tit{width: 53vw;height: 53vw;font-size: 4.45vw;}
    .section-tit{font-size: 25px;}
    .about-txt{background-size: 80%;}
    .about-txt p:first-child::before{width: 6vw;height: 6vw;}
    .about-txt p{font-size: 5.3vw;}
    .swiper-txt .tit{font-size: 16px;}
    .swiper-txt .info{font-size: 5vw;}
    .swiper-txt .link{font-size: 5vw;}
    .swiper-txt .txt{font-size: 14px;}
    .swiper-pagination{left: 30% !important;bottom: 30% !important;}
    .swiper-pagination-current{font-size: 40px !important;}
    .contact-txt p:first-child{font-size: 10vw;}
    .contact-txt p{font-size: 9.66vw;}
}

/*가로값이 480px이상 767px이하 일 때 스타일 적용! 768px이상은 적용 안됨*/  
@media all and (max-width:767px){
    .smile-ani {width: 145px;height: 145px;right: -8vw;bottom: -8vw;}
    .title-box::before{height: 35px;}
    .title-box p{font-size: 15px;}
    .scroll-text{right: -25px;}
    .main p{font-size: 16px;}
    .circle-bg{width: 60vw;height: 60vw;background-size: 100%, 40%;}
    .circle-tit{width: 60vw;height: 60vw;font-size: 5vw;}
    .main-txt03{bottom: 10%;right: 50%;transform: translateX(50%);}
    .section-tit{font-size: 22px;}
    .about-txt p{font-size: 6vw;}
    .swiper-container{width: 90vw;height: 90vh;}
    .swiper-slide.stayjungle{background-position: left;}
    .swiper-inner.hanssem{background-position: center;}
    .swiper-txt{padding: 4vw 4vw;box-sizing: border-box;}
    .swiper-txt .tit{font-size: 18px;}
    .swiper-txt .txt{font-size: 15px;}
    .swiper-txt .info{font-size: 6vw;}
    .swiper-txt .link{font-size: 6vw;}
    .swiper-button-next{right: 10px !important;}
    .swiper-button-prev{left: 10px !important;}
    .swiper-pagination{left: 30% !important;bottom: 22% !important;}
    .swiper-pagination-current{font-size: 35px !important;}
    .copyright{font-size: 16px;}
}

/*가로값이 479px이하 일 때 스타일 적용! 480px이상은 적용 안됨*/
@media all and (max-width:479px){
    .smile-ani {width: 120px;height: 120px;right: -11vw;bottom: -10vw;}
    .title-box{top: 10%;}
    .title-box p{font-size: 14px;}
    .scroll-text{right: -8%;}
    .main-txt{display: none;}
    .main-txt02{top: 20%;}
    .circle-bg{width: 65vw;height: 65vw;background-size: 100%, 40%;}
    .circle-tit{width: 65vw;height: 65vw;font-size: 5.4vw;}
    .section-tit{font-size: 18px;top: 2%;}
    .about-txt p:first-child::before {width: 9vw;height: 9vw;}
    .about-txt p{font-size: 6.2vw;}
    .swiper-container{width: 90vw;height: 88vh;}
    .swiper-txt{padding-left: 8vw;background-color: transparent;}
    .swiper-txt .tit{font-size: 15px;}
    .swiper-txt .info{font-size: 6vw;}
    .swiper-txt .link{font-size: 6vw;-webkit-text-stroke-width: 1px;}
    .swiper-txt .link .link-tit::before{height: 5px;}
    .swiper-txt .txt{font-size: 14px;}
    .swiper-button-next{right: 0 !important;}
    .swiper-button-prev{left: 0 !important;}
    .swiper-pagination-current{font-size: 30px !important;padding-left: 8vw;}
    .contact-txt p:first-child{font-size: 10.15vw;}
    .contact-txt p{font-size: 9.8vw;}
    .copyright{font-size: 14px;font-weight: 700;}
}
 